ARTICLE ROW

<div class="row">
    <div class="col-sm-3">
    <div class="well">
        <p></p>
        <img src="" class="img-circle" height="55" width="55" alt="">
    </div>
    </div>
    <div class="col-sm-9">
    <div class="well">
        <p></p>
    </div>
    </div>
</div>

--------------------------------------------------------------

HEADER :

<div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default text-left">
        <div class="panel-body">
          <p contenteditable="true">Status: Feeling Blue</p>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-thumbs-up"></span> Like
          </button>     
        </div>
      </div>
    </div>
  </div>

  --------------------------------------------------------------

  ALERT : 

  <div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <p><strong>Ey!</strong></p>
    People are looking at your profile. Find out who.
  </div>


  --------------------------------------------------------------

  PUB :

  <div class="well">
    <p>ADS</p>
  </div>

--------------------------------------------------------------

TRUC NEWS ET ELEMENTS A VENIR :

<div class="thumbnail">
    <p>Upcoming Events:</p>
    <img src="paris.jpg" alt="Paris" width="400" height="300">
    <p><strong>Paris</strong></p>
    <p>Fri. 27 November 2015</p>
    <button class="btn btn-primary">Info</button>
  </div>



 